/node_modules
/public/hot
/public/storage
/public/assets/photos
/public/assets/ids
/public/assets/packages
/storage/*.key
/vendor
.env
.env.server
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
